<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <properties resource="jdbc.properties"/>
    <!--    environments:配置多个连接数据库的环境
        属性:
            default:设置默认使用的环境的id
-->

    <!--    类型别名 不区分大小写
        typeAliases:设置某个类型的别名
            属性:
                type:设置需要设置别名的类型
                alias:设置某个类型的别名
-->
    <typeAliases>
        <package name="com.wbu.ssm.mvc.bean"/>
    </typeAliases>

    <environments default="development">
        <!--    environment:配置某个具体的环境
            属性:
                id:表示连接数据库的环境的唯一标识，不能重复
                -->
        <environment id="development">
            <!--    transactionManager: 设置事务管理方式
        属性:
            type="JDBC||MANAGED"
            JDBC:表示当前环境中，执行SQL时，使用的是JDBC中原生的事务管理方式，事务的提交或回滚需要手动处理
            MANAGED:被管理，例如Spring
            -->
            <transactionManager type="JDBC"/>
            <!--            DataSource:配置数据源
                属性:
                    type:设置数据源的类型
                    type="POOLED|UNPOOLED|JNDI"
                    POOLED:表示使用数据库连接池缓存数据库连接
                    UNPOOLED:表示不适用数据库连接池
                    JNDI:表示使用上下文中的数据源
                -->
            <dataSource type="POOLED">
                <!--                JDBC 驱动-->
                <property name="driver" value="${jdbc.driver}"/>
                <!--                url数据库的 JDBC URL地址。-->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <!--引入映射文件-->
        <package name="com.wbu.ssm.mvc.mapper"/>
    </mappers>

</configuration>